<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I recently graduated from
      <a class="underline-link" href="https://www.linkedin.com/company/kibar-kreasi-indonesia" target="_blank">Kibar</a> after completing four awesome years, and worked with world-class team at
      <a class="underline-link" href="https://digitaraya.com" target="_blank">Digitaraya</a> for two unbelievable years. Now i'm currently taking care of my baby
      <a class="underline-link" href="" target="_blank">Karia</a>, help him to grow and make good things in the future.
    </p>

    <p>
      As a software engineer, I always enjoy <strong>bridging the communication</strong> between engineer and other people who are not engineer &mdash; combining my technical knowledge
      with my keen insting to create <strong>an awesome product</strong>. 
    </p>

    <p>
      I have strong focus to build <strong>developer ecosystem</strong> through the contribution in community,
      from joining open source community in my campus, initiate developer community in my city, until lead national program for training developer in more than 10 cities in Indonesia.
      Now with <a class="underline-link" href="" target="_blank">GDG Jakarta</a>, i wants to help developers grow together.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably walking somewhere, sit & drink at coffee shop,
      or crossing off another item on my bucket list. I'm always happpy to talk about <strong>sports</strong> (soccer, basketball, and badminton), and also <strong>video games</strong>.
    </p>
    <!-- {% include employment-status.html %} -->
  </div>
</section>
